<IfDefine development>
    AuthType Basic
    AuthName "Partie admin de l'ojcn - dev"
    AuthUserFile /var/www/html/ojcn.ch/src/sensible/.htpasswd
    Require valid-user
</IfDefine>
<IfDefine !development>
    AuthType Basic
    AuthName "Partie admin de l'ojcn"
    AuthUserFile /home/user150001/domains/ojcn.ch/public_html/testing_branches/newsletter/sensible/.htpasswd
    Require valid-user
</IfDefine>